//  color
$primary: #384970;
$success: #008000;
$error: #ff0000;
$warning: #ffa500;

$--border: 1px solid #e7e7e7;
$--border-radius: 4px;

//  input style
$--input-normal: $primary;
$--input-success: $success;
$--input-error: $error;
$--input-waring: $warning;
$--input-normal-hover: $primary;

$--input-font-normal: 14px;
$--input-font-small: 10px;
$--input-font-large: 16px;

$--input-placeholder-color: #e7e7e7;
